// COLORS
$color-primary: orangered;
$color-cyan: #5fb4a2;
$color-dark-blue: #203a4c;
$color-grayish-blue: #33323d;
$color-very-light: #fafafa;
$color-light-grey: #eaeaeb;
$color-bright-red: #f43030;


// FONTS
$font-stack: "Arial", sans-serif;
$font-ibarra:'Ibarra Real Nova', serif;
$font-sans:  'Public Sans', sans-serif;
